body{
    height: 95vh;
    width: 100%;
}

.navbar{
    border: 1px lightgrey solid;
    display: flex;
    justify-content: flex-start;
}
.navlist{
    padding-left: 50px;
}
.photo{
    text-align: justify;
   background-image: url(/assets/images/femaledoctor.jpg);
   width: 614px;
   z-index: 999;
   position: relative;
}